<a href="https://colab.research.google.com/github/Vineet2107/ML-for-Civil-Enfineering-CE784A-/blob/main/Assignment2_TMD_CE784.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_csv('/content/drive/MyDrive/1b80ce01455252fb312ac516e738750eeef007f14ef9c8f64e4431fe3f495dd9_cleaned/cleaned.csv')

In [4]:
df.head()

,user,timestamp,x,y,z,class
0,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.053,0.78,-9.13,-3.74,bus
1,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.111,0.79,-9.11,-3.75,bus
2,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.169,0.80,-9.12,-3.75,bus
3,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.228,0.78,-9.14,-3.76,bus
4,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.286,0.83,-9.12,-3.80,bus

In [5]:
print(len(df.user.unique())) #number of unique useers
print(df.user.unique()) # userID of unique users

32
['a2d80ed662f34d32951eb1c6ed076c313e358b73'
 'a526f3566e9c9024dfa7378eb4291d787a09fd37'
 'a59868c6eb3645eedbb343ce8c336ec6f2ef2324'
 'a92dee88f61123f923dccec01eeecf1a81953b36'
 'ac4c17afeb69b39169eb301ab592696a8f353976'
 'adaaae1a67ea9e43abd60ba945eccda0cb8821e0'
 'b138d165100ef60bc793cac143742eb5aea4d6ba'
 'b45157069942d01310c3e7b74034166717bb25f9'
 'b7b165e5637b5a0226068d907748f4bbfc61a320'
 'c453226e3616ae821cdcb38f38481c2a20f2482f'
 'c5702d34b238fe68683f818e82cd3a3cd8a16366'
 'ca7950f223a8037b897d0547075dc138f9e43b20'
 'cace4ec0999436917986b4fa6e9317262c897bc2'
 'cbde60baea002b694ecf2a3ff2d95be16b00efe1'
 'ce39f5d0705695fcd70a04ba6d84ac6beecd6f9c'
 'd429974540bfd38c3367fe9f0c8682775ff4fa18'
 'd7a1230d94f91a32cc079809748e52e8a4a6a22f'
 'd7dd12d83c81574137f858034b99f4cc83ab0718'
 'd8c047eaaee204b7b5cd71e2d67308b87b038ed3'
 'dc0bdce306ec3b624fe0e6ecd1ffbd82cb970120'
 'dd82e3df4bebc74ed6b67877be79e29f401c16a3'
 'dde95e125d89843f7032baa734ee4d34ec775aaf'
 'de9892b879c83ea3d24fb4560873107cc4e86d48'
 'dfcfc0404691b73b69884073159f90843f2ac35b'
 'e429a95c532f1117130c11e4a18379d84fa4ffa9'
 'eb9e7854290fd6ea9ebaf448b640fc1f1dbeb076'
 'ecfb0929250fb6dda66a4065441230ab27f094e5'
 'ed623d28c1e0071632a6110b8f8ed93f8af78b99'
 'f1b7331b66e404c11eebb22933e733117bbb12c9'
 'f5edd999397145a2ec1b244226fc83f99631760c'
 'f7ae1ce141c26db40ea8b090fb568a0c965310aa'
 'faae5be800be2dfa897eea0bd2e5988cd53c4ec0']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5653053 entries, 0 to 5653052
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   user       object
 1   timestamp  object
 2   x          float64
 3   y          float64
 4   z          float64
 5   class      object
dtypes: float64(3), object(3)
memory usage: 258.8+ MB

In [7]:
len(df['user'])

5653053

In [50]:

user_c=[]
for i in range(len(df['user'])-1):
  if (df['user'][i] != df['user'][i+1]):
    user_c.append(1)
  else:
    user_c.append(0)
user_c.append(1)
df['user_c'] = user_c

In [51]:
sum(df['user_c'])

32

In [52]:
class_c=[]
for i in range(len(df['user'])-1):
  if (df['class'][i] != df['class'][i+1]):
    class_c.append(1)
  else:
    class_c.append(0)
class_c.append(1)
df['class_c'] = class_c

In [53]:
sum(df['class_c'])

126

In [54]:
df.head()

,user,timestamp,x,y,z,class,user_c,class_c,seq_c
0,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.053,0.78,-9.13,-3.74,bus,0,0,0
1,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.111,0.79,-9.11,-3.75,bus,0,0,0
2,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.169,0.80,-9.12,-3.75,bus,0,0,0
3,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.228,0.78,-9.14,-3.76,bus,0,0,0
4,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.286,0.83,-9.12,-3.80,bus,0,0,0

In [56]:
seq_c = []
for i  in range(len(df['user'])-1):
  if (df['class'][i] != df['class'][i+1] or df['user'][i] != df['user'][i+1]):
    seq_c.append(1)
  else :
    seq_c.append(0)
seq_c.append(1)
df['seq_c'] = seq_c

In [57]:
sum(df['seq_c'])

138

In [58]:
df.head()

,user,timestamp,x,y,z,class,user_c,class_c,seq_c
0,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.053,0.78,-9.13,-3.74,bus,0,0,0
1,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.111,0.79,-9.11,-3.75,bus,0,0,0
2,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.169,0.80,-9.12,-3.75,bus,0,0,0
3,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.228,0.78,-9.14,-3.76,bus,0,0,0
4,a2d80ed662f34d32951eb1c6ed076c313e358b73,2018-06-04 16:26:55.286,0.83,-9.12,-3.80,bus,0,0,0

In [59]:
rows = df['user'].unique()
col = df['class'].unique()

In [60]:
rows_len = len(df['user'].unique())
col_len = len(df['class'].unique())

In [61]:
num_seq = np.zeros((rows_len, col_len))

In [62]:
df_num_seq = pd.DataFrame(num_seq, index = rows,columns=col)

In [63]:
for i in range(len(df['seq_c'])):
  if df['seq_c'][i] == 1:
    df_num_seq.loc[df['user'][i], df['class'][i]] +=1

In [64]:
df_num_seq.head()

                                          bus  walk  car  bike  train  e-bike
a2d80ed662f34d32951eb1c6ed076c313e358b73  1.0   0.0  0.0   0.0    0.0     0.0
a526f3566e9c9024dfa7378eb4291d787a09fd37  0.0   4.0  4.0   0.0    0.0     0.0
a59868c6eb3645eedbb343ce8c336ec6f2ef2324  2.0   3.0  7.0   7.0    0.0     0.0
a92dee88f61123f923dccec01eeecf1a81953b36  1.0   0.0  0.0   0.0    0.0     0.0
ac4c17afeb69b39169eb301ab592696a8f353976  0.0   1.0  1.0   0.0    0.0     0.0